**Голосовые каналы**
**:sparkles: ДЛЯ БОЛТУШЕК :sparkles:**  -  Основной голосовой канал для любителей поговорить.
**:sparkles: ДЛЯ ДВОИХ :sparkles:**  -  Тет-а-тет разговорчики без посторонних.
**:sparkles: ДЛЯ ТРОИХ :sparkles:**  -  Для разрешения любовных треугольников и не только...
**:fire: У КАМИНА :fire:**  -  Ламповый канал, где можно послушать истории, позаниматься своими делами...
**🤭 МОЛЧУНЫ 🤭**  -  Канал для молчаливых АФКшеров.

**Текстовые каналы**
**#:low_brightness:-наши-правила-:low_brightness:**  -  Правила сервера
**#анонсы**  -  Канал для анонсов мероприятий сервера
**#:joy:-смешнявки-:joy:**  -  Мемасики и смешные картиночки
**#:cherry_blossom:-чатик-:cherry_blossom:**  -  Основной чат
**#:crystal_ball:-игруля-:crystal_ball:**  -  Чат для отправки команд ботам
**#:rainbow:-art-is-my-life-:rainbow:**  -  Арт работы на любую тематику, кроме 18+
**#:exclamation:-:underage:-:exclamation:**  -  NSFW для взрослых, 18+
**#:new_moon_with_face:-заказы-от-вас-:new_moon_with_face:**  -  Заказать музыку можно тут